---
services:
  mapmatchingdb:
    build:
      context: "./mapmatching"
    container_name: mapmatchingdb
    restart: "unless-stopped"
    networks:
      - jore4
    ports:
      - "127.0.0.1:6432:5432"
    secrets:
      - postgres-user
      - postgres-password
      - postgres-db
    environment:
      - DIGIROAD_ROUTING_DUMP_URL=https://stjore4dev001.blob.core.windows.net/jore4-digiroad/2025-08-29_create_routing_schema_digiroad_r_2025_02_fixup.sql
    volumes:
      - "./test-migrations/test.sql:/docker-entrypoint-initdb.d/test.sql"

  azuredbmock:
    build:
      context: "./azuredbmock"
    container_name: azuredbmock
    restart: "unless-stopped"
    networks:
      - jore4
    ports:
      - "127.0.0.1:7432:5432"
    secrets:
      - postgres-user
      - postgres-password
      - db-auth-username
      - db-auth-password
      - db-auth-name
      - db-jore3importer-username
      - db-jore3importer-password
      - db-jore3importer-name
      - db-jore4-main-name
      - db-hasura-username
      - db-hasura-password
      - db-hasura-name
      - db-timetables-name
      - db-tiamat-username
      - db-tiamat-password
      - db-tiamat-name
      - db-timetables-api-username
      - db-timetables-api-password
    environment:
      - POSTGRES_DB=testdb

networks:
  jore4:

secrets:
  postgres-user:
    file: ./test-secrets/postgres-user
  postgres-password:
    file: ./test-secrets/postgres-password
  postgres-db:
    file: ./test-secrets/postgres-db
  db-auth-username:
    file: ./test-secrets/db-auth-username
  db-auth-password:
    file: ./test-secrets/db-auth-password
  db-auth-name:
    file: ./test-secrets/db-auth-name
  db-jore3importer-username:
    file: ./test-secrets/db-jore3importer-username
  db-jore3importer-password:
    file: ./test-secrets/db-jore3importer-password
  db-jore3importer-name:
    file: ./test-secrets/db-jore3importer-name
  db-jore4-main-name:
    file: ./test-secrets/db-jore4-main-name
  db-hasura-username:
    file: ./test-secrets/db-hasura-username
  db-hasura-password:
    file: ./test-secrets/db-hasura-password
  db-hasura-name:
    file: ./test-secrets/db-hasura-name
  db-timetables-name:
    file: ./test-secrets/db-timetables-name
  db-tiamat-username:
    file: ./test-secrets/db-tiamat-username
  db-tiamat-password:
    file: ./test-secrets/db-tiamat-password
  db-tiamat-name:
    file: ./test-secrets/db-tiamat-name
  db-timetables-api-username:
    file: ./test-secrets/db-timetables-api-username
  db-timetables-api-password:
    file: ./test-secrets/db-timetables-api-password
